:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: midnightblue;
}

* {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-width: 700px;
  min-height: 100vh;
  padding: 50px;
  margin: auto;
  background-color: powderblue;
}
